@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JWT Implementation</h1>
    <div class="bg-warning p-4">
        <p class="h4">Tutorial link: <a href="https://www.yogihosting.com/jwt-api-aspnet-core/" target="_blank">ASP.NET Core JWT Authentication and Authorization of Web API [Detailed]</a></p>
        <p class="h4">Tutorial link: <a href="https://www.yogihosting.com/jwt-refresh-token-aspnet-core/" target="_blank">Implementing JWT Refresh Token in ASP.NET Core MVC</a></p>
        <p class="h4">Tutorial link: <a href="https://www.yogihosting.com/jwt-jquery-aspnet-core/" target="_blank">How to call a JWT secured APIs with jQuery AJAX [with source codes]</a></p>
    </div>
    <div class="p-4">
        <p class="h2">Check the below links</p>
        <p class="h4"><a asp-area="" asp-controller="CallAPI" asp-action="Index">JWT Access Token Example</a></p>
        <p class="h4"><a asp-area="" asp-controller="Login" asp-action="Index">JWT Refresh Token Example</a></p>
        <p class="h4"><a asp-area="" asp-controller="jQueryApi" asp-action="Index">JWT with jQuery</a></p>
    </div>
</div>
